body {
    position: relative;
    background-color: black;
    /* background-image: url('../../../images/TVkGvZR.gif'); */
    background-repeat: no-repeat;
}

.circle-center {
    /* position: relative; */
    display: flex;
    margin: 7% auto;
}

.username-container {
    /* background-image: url('../../../images/pngfuel.com\ \(2\).png'); */
    position: absolute;
    display: flex;
    width: 300px;
    height: 250px;
}

.circle-avatar {}

/* #avatar-1 {
    position: absolute;
    margin-top: -4%;
    margin-left: 60%;
}

#avatar-2 {
    position: absolute;
    margin-top: -4%;
    margin-left: 32%;
}

#avatar-3 {
    position: absolute;
    margin-top: -11%;
    margin-left: 32%;
}

#avatar-4 {
    position: absolute;
    margin-top: -11%;
    margin-left: 60%;
} */

th {
    background-image: url('../../../images/username-frame.png');
    background-repeat: no-repeat;
    font-size: medium;
    color: white;
    font-family: inherit;
    height: 60px;
    width: 200px;
}

p {
    display: flex;
    margin-top: 0px;
    margin-left: 33px;
}

.magician {
    background-image: url('../../../images/magician.png');
    background-repeat: no-repeat;
    width: 500px;
    height: 750px;
    margin-top: -800px;
    margin-left: 1400px;
}