/* body {
    position: relative;
    background-color: black;
    background-repeat: no-repeat;
} */

.circle-center {
    display: flex;
    margin: 7% auto;
}

/* Username, HP score container */
.username-container {
    /* background-color: red; */
    position: absolute;
    display: flex;
    width: 500px;
    height: 500px;
}

/* Golden frames in the down left corner of the page */
.avatar-frame {
    position: absolute;
    background-image: url('../../../images//avatar-frame.png');
    background-repeat: no-repeat;
    height: 250px;
    width: 150px;
}

#avatar-1 {
    /* bottom: 125px;
    left: 145px; */
    bottom: 0px;
    left: 435px;
}

#avatar-2 {
    /* bottom: 125px; */
    bottom: 0px;
    left: 290px;
}

#avatar-3 {
    bottom: 0px;
    left: 145px;
}

#avatar-4 {
    bottom: 0px
}

td {
    background-image: url('../../../images/username-frame.png');
    background-repeat: no-repeat;
    font-size: large;
    color: white;
    font-family: inherit;
    height: 60px;
    width: 200px;
}

p {
    display: flex;
    font-family: fantasy;
    margin-top: 0px;
    margin-left: 38px;
}

.magician {
    background-image: url('../../../images/magician.png');
    background-repeat: no-repeat;
    width: 500px;
    height: 750px;
    margin-top: -800px;
    margin-left: 1400px;
}