body {
    position: relative;
    background-color: black;
    background-repeat: no-repeat;
}

.circle-center {
    display: flex;
    margin: 7% auto;
}

.username-container {
    /* background-image: url('../../../images/pngfuel.com\ \(2\).png'); */
    position: absolute;
    display: flex;
    width: 300px;
    height: 250px;
}

.avatar-frame {
    position: absolute;
    background-image: url('../../../images//avatar-frame.png');
    background-repeat: no-repeat;
    height: 250px;
    width: 150px;
}

#avatar-1 {
    /* bottom: 125px;
    left: 145px; */
    bottom: -120px;
    left: 435px;
}

#avatar-2 {
    /* bottom: 125px; */
    bottom: -120px;
    left: 290px;
}

#avatar-3 {
    bottom: -120px;
    left: 145px;
}

#avatar-4 {
    bottom: -120px;
}

th {
    background-image: url('../../../images/username-frame.png');
    background-repeat: no-repeat;
    font-size: medium;
    color: white;
    font-family: inherit;
    height: 60px;
    width: 200px;
}

p {
    display: flex;
    margin-top: 0px;
    margin-left: 33px;
}

.magician {
    background-image: url('../../../images/magician.png');
    background-repeat: no-repeat;
    width: 500px;
    height: 750px;
    margin-top: -800px;
    margin-left: 1400px;
}